body {
    font-family: monospace;
}

main.container-main {
    max-width: 1280px;
    margin: 60px auto;
}

.border {
    border-radius: 20px;
}

/* Header */

#headshot {
    background: rgb(193, 245, 255);
    background: -webkit-linear-gradient(53deg, rgba(193, 245, 255, 1) 0%, rgba(0, 215, 255, 1) 16%, rgba(0, 171, 255, 1) 58%, rgba(0, 60, 117, 1) 100%);
    background: -o-linear-gradient(53deg, rgba(193, 245, 255, 1) 0%, rgba(0, 215, 255, 1) 16%, rgba(0, 171, 255, 1) 58%, rgba(0, 60, 117, 1) 100%);
    background: linear-gradient(143deg, rgba(193, 245, 255, 1) 0%, rgba(0, 215, 255, 1) 16%, rgba(0, 171, 255, 1) 58%, rgba(0, 60, 117, 1) 100%);
    ;
    color: white;
    padding: 10px!important;
}

h1 {
    text-transform: uppercase;
    font-size: 26px;
    padding: 10px;
}

/* Search and History */

form#search-container {
    background: #f9fafb;
    padding: 20px!important;
}

input#city-input {
    margin-bottom: 10px;
}

#search-text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-primary {
    background: rgb(193, 245, 255);
    background: -webkit-linear-gradient(53deg, rgba(193, 245, 255, 1) 0%, rgba(0, 215, 255, 1) 16%, rgba(0, 171, 255, 1) 58%, rgba(0, 60, 117, 1) 100%);
    background: -o-linear-gradient(53deg, rgba(193, 245, 255, 1) 0%, rgba(0, 215, 255, 1) 16%, rgba(0, 171, 255, 1) 58%, rgba(0, 60, 117, 1) 100%);
    background: linear-gradient(143deg, rgba(193, 245, 255, 1) 0%, rgba(0, 215, 255, 1) 16%, rgba(0, 171, 255, 1) 58%, rgba(0, 60, 117, 1) 100%);
    ;
    border: none;
    color: white;
    font-weight: bold;
}

.btn-primary:hover {
    background: rgb(0,171,255);
    background: -webkit-linear-gradient(53deg, rgba(0,171,255,1) 0%, rgba(0,60,117,1) 94%);
    background: -o-linear-gradient(53deg, rgba(0,171,255,1) 0%, rgba(0,60,117,1) 94%);
    background: linear-gradient(143deg, rgba(0,171,255,1) 0%, rgba(0,60,117,1) 94%);;
	}

button.d-flex.btn-light.border.p-2:hover {
    background: #eaeaea;
	}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    box-shadow: 0 0 0 0rem rgb(0 104 255 / 50%);
}